bigbluebuttonapp/templates/bigbluebuttonapp/node_modules/*
bigbluebuttonapp/templates/bigbluebuttonapp/node_modules/
bigbluebuttonapp/templates/bigbluebuttonapp/.cache/*
bigbluebuttonapp/templates/bigbluebuttonapp/.cache/