## mako
<%! from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="bodyclass">view-in-course</%block>
<%block name="pagetitle">Chat</%block>
<%inherit file="/main.html" />
<%block name="headextra">

<link rel="stylesheet" type="text/css" href="${static.url('rocket_chat/rocket_chat.css')}"/>

<%static:css group='style-course'/>
</%block>
<%include file="/courseware/course_navigation.html" args="active_page='chat'" />
<style>

    /* Use locally on the page to prevent the values from being overwritten */
    .chat-container {
        max-width: none;
        min-width: initial;
        width: auto;
    }

</style>

<div class="container chat-container">
    <div class="chat-wrapper">
        <main id="main" aria-label="Content" tabindex="-1">
            <section class="chat-content" id="chat-content">
                <link href="${configuration_helpers.get_value('GW_PORTAL_URL', '')}app/bigbluebutton/bigbluebuttonapp/templates/bigbluebuttonapp/dist/support.css" rel="stylesheet">
                <script src="${configuration_helpers.get_value('GW_PORTAL_URL', '')}app/bigbluebutton/bigbluebuttonapp/templates/bigbluebuttonapp/dist/index.js"></script>
                <h2 class="hd hd-2 chat-title">BBB</h2>
                    <pre>
                        ${course_info['key']}
                    </pre>
            </section>
        </main>
    </div>
</div>
